
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

/* Generic */
body {
    margin: 0;
    font-family: 'Fugaz One', cursive;
}
h1, figcaption{
    text-align: center;
}
a {
    text-decoration: none;
}
header {
    background-color: black;
}
img, .cocktail {
    transition: all .2s ease-in-out;
}
.cocktail:hover, .spirit-selection img:hover{
    transform: scale(1.1);
}
.hide {
    display: none;
}
ul {
    list-style: none;
}
/* --------------------------------- selection page -------------------------------- */
  .spirit-selection, #userPicks, header section, nav ul, .homepage-content, .cocktails-grid, .popup-inner {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-flow: wrap;
      align-items: center;
  }
  #instructions, .spirit-selection, #ingredientsCheck, header section {
      width: 1000px;
      margin: auto;
  }
  .spirit-selection label input{
    visibility: hidden;
    position: absolute;
  }
  .spirit-selection label{
    width: 33%;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
  }
  .spirit-selection img{
    height: 315px;
  }
  .spirit-selection img:hover{
    box-shadow:
      1px 1px #505961,
      2px 2px #505961,
      3px 3px #505961;
  }
  .spirit-selection input[type=radio]:checked {
      visibility: visible;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.2;
  }
  #userPicks {
    height: 100vh;
    box-sizing: border-box;
    padding: 40px;
    position: relative;
    background-image: url(https://cdn.pixabay.com/photo/2013/11/12/01/29/bar-209148_960_720.jpg);
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .bgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
  }
  #ingredientsCheck {
    text-align: left;
    line-height: 2em;
    z-index: 1;
    background-color: white;
    border: 3px solid pink;
  }
  #ingredientsCheck table, .imageAndTitle img {
      width: 100%;
  }
  fieldset legend {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    background-color: pink;
    color: black;
    padding: 10px;
    border: 3px solid black;
  }
  #ingredientsCheck td {
      font-size: 20px;
      padding: 5px;
  }
  #ingredientsCheck td:hover, #ingredientsCheck label:hover, .exit-popup, .cocktail:hover, .spirit-selection img {
      cursor: pointer;
  }
  .submitFormBtn {
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .submitFormBtn input{
    padding: 20px 40px;
    border-radius: 20px;
    background: transparent;
    background-image: url(https://cdn.pixabay.com/photo/2016/01/23/11/41/button-1157299_960_720.png);
    background-position: center;
    font-size: 30px;
    border: 1px solid black;
    color: white;
    margin-right: 10px;
    cursor: pointer;
  }
  .submitFormBtn input:hover {
    background-image: none;
    background-color: orange;
  }
  /* -------------------------- homepage --------------------------------- */
.homepage {
    margin: 0;
    background-image: url(https://www.inspiredtaste.net/wp-content/uploads/2012/10/Southside-Cocktail-Recipe-1-1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.all-cocktails {
    margin: 0
}
.all-cocktails  main, .content, #resultsSpace {
    margin: 0 auto;
    width: 1200px;
}
.homepage header {
    opacity: 0.5;
    width: 100%;
    position: absolute;
}
header a {
    color: white;
    margin-right: 30px;
}
header a:hover {
    color: pink;
}
.homepage a {
    color: white;
}
header section {
    align-items: center;
    justify-content: space-between;
}
header img {
    max-height: 55px;
}
nav ul li {
    font-size: 25px;
    color: white;
    padding: 10px;
}
.homepage-content {
    height: 100vh;
    align-content: center;
    max-width: 900px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 25px;
}
.buttons {
    width: 100%;
}
.yes {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 20px 45px;
    font-size: 20px;
    border-radius: 10px;
    }
    .yes:hover {
    background: teal;
    border: 2px solid teal;
}

/* --------------------------------- All Cocktails Page ------------------------------ */
.all-cocktails h2, #popup h2 {
    width: 100%;
    box-sizing: border-box;
}
.cocktails-grid {
    justify-content: left;
    display:flex;
}
.cocktails-grid > h2, .ingAndDesc > h2 {
    border-bottom: 5px solid pink;
    text-transform: capitalize;
    text-align: left;
}
.cocktail {
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.cocktail .missingIngredients {
    margin: 0;
}
.cocktail img {
    width: 100%;
    height: 275px;
}
.cocktail h2, .imageAndTitle h2 {
    background-color: aliceblue;
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}
#popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
}
.popup-inner {
    max-width: 750px;
    margin: auto;
    background-color: white;
    margin-top: 5%;
    align-items: end;
    border: 5px solid purple;
    padding: 10px;
    position: relative;
    justify-content: space-between;
}

.imageAndTitle h2 {
    background-color: pink;
}
.popup-inner a {
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 12px 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
}
.imageAndTitle, .ingAndDesc {
    width: 48%;
}
.ingAndDesc ul, .ingAndDesc ol {
    margin: 0;
    padding: 0;
    text-align: left;
}
.ingAndDesc ol {
    margin-left: 20px;
}
.missingIngredients {
    font-size: 12px;
    text-align: left;
    color: white;
    border: 1px solid black;
    padding: 5px;
    background-color: red;
}
